.invoice-list-container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
}

.back-button img {
  width: 20px;
  height: 20px;
}

h1 {
  color: #f44336;
  font-size: 24px;
  margin: 0;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f44336;
  color: white;
}

tr {
  transition: transform 0.3s ease-in-out;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transform: translateY(-5px) rotateX(5deg) scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
