
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.invoice-list-container {
  padding: 20px;
}

.table-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #8B0000;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  font-weight: bold;
}

th:hover {
  background-color: #8B0000;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.back-button img {
  width: 24px;
  height: 24px;
}
